<!DOCTYPE html>
<html>
<head>
	<title>details</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<form id="form_s" method="POST">
			<table>
				<tr>
					<td>
						Name :
					</td>
				<td>
					<input type="text" placeholder="name" name="name" id="name">
				</td>
			</tr>
			<tr>
				<td>
					email:
				</td>
				<td>
					<input type="mail" placeholder="email" name="email" id="email" >
				</td>
			</tr>
			<tr>	
				<td>
					phone no:
				</td>
				<td>
					<select>
						<option>998</option>
						<option>997</option>
						<option>996</option>
						<option>995</option>
					</select>
					<input type="phone" name="phone" id="phone">
				</td>
			</tr>
			<tr>
				<td>
					city:
				</td>
				<td> 
					<select name="city" id="city">
						<option value="chnnai">chennai</option>
						<option  value="coimbatore">coimbatore</option>
						<option value="trichy">truichy</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					state:
				</td>
				<td> 
					<select name="state" id="state" >
						<option value="india">india</option>
						<option  value="USA">USA</option>
						<option value="Japan">Japan</option>
					</select>
				</td>
			</tr>
		</table>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
		<script type="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				if ($("#form_s").valid())
			}
		</script>
	</form>
	</body>
	</html>




			


