<div class="form-group " style="margin: 12px;padding-left: 13px;padding-right: 30px;">
		    			<label for="First name" >First name</label>
		    			<input type="text" class="form-control" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" style="margin-left: 63px">
		    		</div>
		    			<div class="form-group ">
		    				<label for="Last name">Last name</label>
		    				<input type="text" class="form-control" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" style="margin-left: 50px">
		    			</div>
		    				<div class="form-group" style="margin: 12px;padding-left: 13px;padding-right: 30px; ">
		    					<label for="Email address">Email address</label>
		    					<input type="mail" class="form-control"style="margin-left: 40px"> 
		    				</div>
		    				<div class="form-group">
		    					<label for="Password" >Password</label>
		    					<input type="password" class="form-control"pattern="[a-zA-Z0-9]{8}" style="margin-left: 52px">
		    				</div>
			    				<button type="submit" class="btn btn-success btn-block " style="text-align: left">Claim your Trial Free</button><br>
			    				<small class="form-text" style="font-size: 15px;margin: 12px; "            }>You are agreeing to our <span style="color:blue"> terms and condition</span> 
			    				</small>